.index-body::before {
  content: "";
  position: fixed;
  background-color: #eee7e1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.index-box {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: darkorchid; */
}

.left1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  font-size: 10px;
  color: rgb(44, 43, 42);
  margin-top: 10px;
}

.left1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.left1 h2 a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(44, 43, 42);
}

/*-------------------------------  Button Five  -------------------------------*/
/* .button-outlinerainbow {
  display: inline-block;
  margin: 2em;
  text-align: center;
  border: 2px solid black;
  transform: skew(0deg) rotate(5deg);
  -webkit-transform: skew(0deg) rotate(5deg);
  -moz-transform: skew(0deg) rotate(5deg);
}
.button-outlinerainbow #button-five {
  margin: 0 -0.5em;
  padding: 1em 4em;
  background: rgb(44, 43, 42);
  color: #eee7e1;
  transform: skew(0deg) rotate(-5deg);
  -webkit-transform: skew(0deg) rotate(-5deg);
  -moz-transform: skew(0deg) rotate(-5deg);
} */

.button_slide {
  color: rgb(44, 43, 42);
  border: 2px solid rgb(44, 43, 42);
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(44, 43, 42);
  transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px rgb(44, 43, 42);
  color: #eee7e1;
}

.right1 {
  display: flex;
  flex-direction: column;

  justify-content: center;

  list-style: none;

  text-transform: capitalize;
  width: 60%;
  height: 80vh;
  gap: 10px;
}

.right1 li a {
  font-family: "Julius Sans One", sans-serif;
  font-size: 10em;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  color: rgb(44, 43, 42);

  /* transform: translateX(-50%);
  transition: transform 0.6s ease-in; */
}
.right1 li:hover {
  font-style: italic;
  font-weight: 900;
}
