.index-body::before {
  content: "";
  position: fixed;
  background-color: #eee7e1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.index-box {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: darkorchid; */
}

.left1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  font-size: 10px;
  color: rgb(44, 43, 42);
  margin-top: 10px;
}

.left1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.left1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.right1 {
  display: flex;
  flex-direction: column;

  justify-content: center;

  list-style: none;

  text-transform: capitalize;
  width: 60%;
  height: 80vh;
  gap: 10px;
}

.right1 li a {
  font-family: "Julius Sans One", sans-serif;
  font-size: 10em;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  color: rgb(44, 43, 42);

  /* transform: translateX(-50%);
  transition: transform 0.6s ease-in; */
}
.right1 li:hover {
  font-style: italic;
  font-weight: 900;
}
