.content-box1 {
  display: flex;

  align-items: center;
  color: #eee7e1;
  width: 100vw;
}

.left-content {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 90vh;
  width: 50%;
  margin-top: 60px;

  /* word-wrap: break-word; */
}
.left-content h1 {
  color: #eee7e1;
  font-size: 4vw;
  font-family: "Julius Sans One", sans-serif;

  animation-name: about;
  animation-duration: 1s;

  width: 100%;
  text-align: center;
}
@keyframes about {
  from {
    transform: translateX(-179%);
    transition: ease-in;
  }
  to {
    transform: translateX(0%);
    transition: ease-in;
  }
}
@keyframes about-pic {
  from {
    transform: scale(0.1);
    transition: ease-in;
  }
  to {
    transition: ease-in;
    transform: scale(1);
  }
}
.aboutInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-content h2 {
  width: 68%;
  margin: 5px;
  /* background-color: blanchedalmond; */
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 900;
}

.left-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  width: 68%;
}

.left-content a {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  width: 68%;
  text-decoration: none;
  color: #eee7e1;
  text-decoration: underline;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 68%;
  list-style: none;
  margin-top: 10px;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills li img {
  width: 40px;
  height: 40px;
}

p.inTouch a:hover {
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 60px;
}
.my-pic {
  width: 36vw;
  animation-name: about-pic;
  animation-duration: 1s;
  margin-bottom: 57px;
}

/*Animation*/
.line {
  margin: 0 auto;
  border-right: 2px solid #eee7e1;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: 1.6vw;

  text-align: center;
  flex-wrap: wrap;
}

.anim-typewriter {
  animation: typewriter 3s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 22em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #eee7e1;
  }
  to {
    border-right-color: transparent;
  }
}
