.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  object-fit: fill;
  overflow: scroll;
}

.resume-container img {
  width: 600px;
}

.button_slide {
  color: #eee7e1;
  border: 2px solid #eee7e1;
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Julius Sans One", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #eee7e1;
  transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #eee7e1;
  color: rgb(44, 43, 42);
  text-decoration: line-through;
}
#resume-footer {
  background-color: rgb(44, 43, 42);
}
